<footer class="container" th:fragment="footer">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <p>TMO - 2020</p>
</footer>

<footer class="page-footer font-small blue" th:fragment="ysf">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 TMO:
        <a href="http://www.tmo.gov.tr/Main.aspx?ID=1"> Bilgi İşlem Dairesi Başkanlığı</a>
    </div>
    <!-- Copyright -->

</footer>